--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.5

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: nieves
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO nieves;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: nieves
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AgeCategory; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."AgeCategory" AS ENUM (
    'STAG',
    'BULLSTAG',
    'COCK',
    'ANY'
);


ALTER TYPE public."AgeCategory" OWNER TO nieves;

--
-- Name: BreedingStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."BreedingStatus" AS ENUM (
    'ONGOING',
    'FINISHED'
);


ALTER TYPE public."BreedingStatus" OWNER TO nieves;

--
-- Name: ConditioningStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."ConditioningStatus" AS ENUM (
    'ASSIGNED',
    'COMPLETED'
);


ALTER TYPE public."ConditioningStatus" OWNER TO nieves;

--
-- Name: EventStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."EventStatus" AS ENUM (
    'ASSIGNED',
    'FINISHED'
);


ALTER TYPE public."EventStatus" OWNER TO nieves;

--
-- Name: EventType; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."EventType" AS ENUM (
    'THREE_COCK_DERBY',
    'FOUR_COCK_DERBY',
    'FIVE_COCK_DERBY',
    'SOLO',
    'OTHER',
    'TWO_COCK_DERBY'
);


ALTER TYPE public."EventType" OWNER TO nieves;

--
-- Name: GamefowlSex; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."GamefowlSex" AS ENUM (
    'MALE',
    'FEMALE'
);


ALTER TYPE public."GamefowlSex" OWNER TO nieves;

--
-- Name: GamefowlStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."GamefowlStatus" AS ENUM (
    'IDLE',
    'COMPETING',
    'BREEDING',
    'CONDITIONING',
    'INJURED',
    'DECEASED',
    'SOLD'
);


ALTER TYPE public."GamefowlStatus" OWNER TO nieves;

--
-- Name: IncubationStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."IncubationStatus" AS ENUM (
    'ONGOING',
    'FINISHED'
);


ALTER TYPE public."IncubationStatus" OWNER TO nieves;

--
-- Name: RecurrencePattern; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."RecurrencePattern" AS ENUM (
    'DAILY',
    'WEEKLY',
    'MONTHLY',
    'YEARLY',
    'CUSTOM'
);


ALTER TYPE public."RecurrencePattern" OWNER TO nieves;

--
-- Name: Result; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."Result" AS ENUM (
    'WIN',
    'LOSS',
    'DRAW',
    'NO_SHOW'
);


ALTER TYPE public."Result" OWNER TO nieves;

--
-- Name: TaskCategory; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."TaskCategory" AS ENUM (
    'FEEDING',
    'VACCINATION',
    'DEWORMING',
    'OTHER'
);


ALTER TYPE public."TaskCategory" OWNER TO nieves;

--
-- Name: TaskType; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."TaskType" AS ENUM (
    'RECURRING',
    'ONETIME'
);


ALTER TYPE public."TaskType" OWNER TO nieves;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."UserRole" AS ENUM (
    'admin',
    'owner',
    'breeder',
    'handler'
);


ALTER TYPE public."UserRole" OWNER TO nieves;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'RESIGNED'
);


ALTER TYPE public."UserStatus" OWNER TO nieves;

--
-- Name: gamefowlAge; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."gamefowlAge" AS ENUM (
    'CHICK',
    'STAG',
    'BULLSTAG',
    'COCK',
    'PULLET',
    'HEN'
);


ALTER TYPE public."gamefowlAge" OWNER TO nieves;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Admin; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Admin" (
    id text NOT NULL,
    username text NOT NULL
);


ALTER TABLE public."Admin" OWNER TO nieves;

--
-- Name: Batch; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Batch" (
    id integer NOT NULL,
    "hatchRate" double precision NOT NULL,
    "dateHatched" timestamp(3) without time zone NOT NULL,
    incubate_id integer NOT NULL
);


ALTER TABLE public."Batch" OWNER TO nieves;

--
-- Name: Batch_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Batch_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Batch_id_seq" OWNER TO nieves;

--
-- Name: Batch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Batch_id_seq" OWNED BY public."Batch".id;


--
-- Name: Breeder; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Breeder" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    email text,
    img text,
    phone text,
    role public."UserRole" DEFAULT 'breeder'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    middle_name text,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Breeder" OWNER TO nieves;

--
-- Name: Breeding; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Breeding" (
    id integer NOT NULL,
    "sireId" integer NOT NULL,
    "damId" integer NOT NULL,
    notes text NOT NULL,
    status public."BreedingStatus" NOT NULL,
    "endDate" timestamp(3) without time zone,
    "startDate" timestamp(3) without time zone,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Breeding" OWNER TO nieves;

--
-- Name: Breeding_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Breeding_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Breeding_id_seq" OWNER TO nieves;

--
-- Name: Breeding_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Breeding_id_seq" OWNED BY public."Breeding".id;


--
-- Name: Conditioning; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Conditioning" (
    id integer NOT NULL,
    "eventId" integer,
    "conProgId" integer NOT NULL,
    "handlerId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone,
    status public."ConditioningStatus" NOT NULL,
    notes text,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Conditioning" OWNER TO nieves;

--
-- Name: ConditioningActivity; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."ConditioningActivity" (
    id integer NOT NULL,
    name text NOT NULL,
    description text NOT NULL,
    "programId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ConditioningActivity" OWNER TO nieves;

--
-- Name: ConditioningActivitySchedule; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."ConditioningActivitySchedule" (
    id integer NOT NULL,
    "conditioningId" integer NOT NULL,
    "activityId" integer NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    notes text,
    status text DEFAULT 'PLANNED'::text NOT NULL,
    "timeOfDay" text DEFAULT 'MORNING'::text NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ConditioningActivitySchedule" OWNER TO nieves;

--
-- Name: ConditioningActivitySchedule_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."ConditioningActivitySchedule_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ConditioningActivitySchedule_id_seq" OWNER TO nieves;

--
-- Name: ConditioningActivitySchedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."ConditioningActivitySchedule_id_seq" OWNED BY public."ConditioningActivitySchedule".id;


--
-- Name: ConditioningActivity_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."ConditioningActivity_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ConditioningActivity_id_seq" OWNER TO nieves;

--
-- Name: ConditioningActivity_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."ConditioningActivity_id_seq" OWNED BY public."ConditioningActivity".id;


--
-- Name: ConditioningGamefowl; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."ConditioningGamefowl" (
    id integer NOT NULL,
    "conditioningId" integer NOT NULL,
    "gamefowlId" integer NOT NULL
);


ALTER TABLE public."ConditioningGamefowl" OWNER TO nieves;

--
-- Name: ConditioningGamefowl_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."ConditioningGamefowl_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ConditioningGamefowl_id_seq" OWNER TO nieves;

--
-- Name: ConditioningGamefowl_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."ConditioningGamefowl_id_seq" OWNED BY public."ConditioningGamefowl".id;


--
-- Name: ConditioningProgram; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."ConditioningProgram" (
    id integer NOT NULL,
    "programName" text NOT NULL,
    description text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."ConditioningProgram" OWNER TO nieves;

--
-- Name: ConditioningProgram_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."ConditioningProgram_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ConditioningProgram_id_seq" OWNER TO nieves;

--
-- Name: ConditioningProgram_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."ConditioningProgram_id_seq" OWNED BY public."ConditioningProgram".id;


--
-- Name: Conditioning_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Conditioning_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Conditioning_id_seq" OWNER TO nieves;

--
-- Name: Conditioning_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Conditioning_id_seq" OWNED BY public."Conditioning".id;


--
-- Name: Deworming; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Deworming" (
    id integer NOT NULL,
    "gamefowlId" integer NOT NULL,
    "dewormDate" timestamp(3) without time zone NOT NULL,
    notes text NOT NULL,
    name text,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Deworming" OWNER TO nieves;

--
-- Name: Deworming_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Deworming_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Deworming_id_seq" OWNER TO nieves;

--
-- Name: Deworming_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Deworming_id_seq" OWNED BY public."Deworming".id;


--
-- Name: Event; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Event" (
    id integer NOT NULL,
    "eventName" text NOT NULL,
    "eventType" public."EventType" NOT NULL,
    "ageCategory" public."AgeCategory" NOT NULL,
    "eventDate" timestamp(3) without time zone NOT NULL,
    description text NOT NULL,
    status public."EventStatus" NOT NULL,
    "handlerId" text,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Event" OWNER TO nieves;

--
-- Name: EventGamefowl; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."EventGamefowl" (
    id integer NOT NULL,
    "eventId" integer NOT NULL,
    "gamefowlId" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."EventGamefowl" OWNER TO nieves;

--
-- Name: EventGamefowl_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."EventGamefowl_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."EventGamefowl_id_seq" OWNER TO nieves;

--
-- Name: EventGamefowl_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."EventGamefowl_id_seq" OWNED BY public."EventGamefowl".id;


--
-- Name: EventResult; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."EventResult" (
    id integer NOT NULL,
    "eventId" integer NOT NULL,
    "gamefowlId" integer NOT NULL,
    result public."Result" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."EventResult" OWNER TO nieves;

--
-- Name: EventResult_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."EventResult_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."EventResult_id_seq" OWNER TO nieves;

--
-- Name: EventResult_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."EventResult_id_seq" OWNED BY public."EventResult".id;


--
-- Name: Event_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Event_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Event_id_seq" OWNER TO nieves;

--
-- Name: Event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Event_id_seq" OWNED BY public."Event".id;


--
-- Name: Gamefowl; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Gamefowl" (
    id integer NOT NULL,
    name text NOT NULL,
    bloodline text NOT NULL,
    date_hatched timestamp(3) without time zone,
    date_sold timestamp(3) without time zone,
    "sireId" integer,
    "damId" integer,
    "batchId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    img text,
    age public."gamefowlAge",
    "isArchived" boolean DEFAULT false NOT NULL,
    "eloRating" integer DEFAULT 1000 NOT NULL,
    sex public."GamefowlSex" NOT NULL,
    status public."GamefowlStatus" DEFAULT 'IDLE'::public."GamefowlStatus" NOT NULL
);


ALTER TABLE public."Gamefowl" OWNER TO nieves;

--
-- Name: Gamefowl_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Gamefowl_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Gamefowl_id_seq" OWNER TO nieves;

--
-- Name: Gamefowl_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Gamefowl_id_seq" OWNED BY public."Gamefowl".id;


--
-- Name: Handler; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Handler" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    first_name text NOT NULL,
    middle_name text,
    last_name text NOT NULL,
    email text,
    img text,
    phone text,
    role public."UserRole" NOT NULL,
    status public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Handler" OWNER TO nieves;

--
-- Name: Incubation; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Incubation" (
    id integer NOT NULL,
    "incStart" timestamp(3) without time zone NOT NULL,
    "incEnd" timestamp(3) without time zone NOT NULL,
    status public."IncubationStatus" NOT NULL,
    "eggCount" integer NOT NULL,
    "breedingId" integer,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Incubation" OWNER TO nieves;

--
-- Name: Incubation_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Incubation_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Incubation_id_seq" OWNER TO nieves;

--
-- Name: Incubation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Incubation_id_seq" OWNED BY public."Incubation".id;


--
-- Name: OneTimeSched; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."OneTimeSched" (
    id integer NOT NULL,
    "schedId" integer NOT NULL,
    "taskName" text NOT NULL,
    "taskDate" timestamp(3) without time zone NOT NULL,
    time_of_day text NOT NULL
);


ALTER TABLE public."OneTimeSched" OWNER TO nieves;

--
-- Name: OneTimeSched_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."OneTimeSched_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."OneTimeSched_id_seq" OWNER TO nieves;

--
-- Name: OneTimeSched_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."OneTimeSched_id_seq" OWNED BY public."OneTimeSched".id;


--
-- Name: PushSubscription; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."PushSubscription" (
    id text NOT NULL,
    endpoint text NOT NULL,
    p256dh text NOT NULL,
    auth text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."PushSubscription" OWNER TO nieves;

--
-- Name: RecurrentSchedules; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."RecurrentSchedules" (
    id integer NOT NULL,
    "schedId" integer NOT NULL,
    "reccurencePattern" public."RecurrencePattern" NOT NULL,
    time_of_day text NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "customInterval" integer,
    "weekDays" text,
    "customDate" text,
    "repeatIndefinitely" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."RecurrentSchedules" OWNER TO nieves;

--
-- Name: RecurrentSchedules_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."RecurrentSchedules_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RecurrentSchedules_id_seq" OWNER TO nieves;

--
-- Name: RecurrentSchedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."RecurrentSchedules_id_seq" OWNED BY public."RecurrentSchedules".id;


--
-- Name: RecurringTaskCompletion; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."RecurringTaskCompletion" (
    id integer NOT NULL,
    "recurrentId" integer NOT NULL,
    date timestamp(3) without time zone NOT NULL,
    completed boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecurringTaskCompletion" OWNER TO nieves;

--
-- Name: RecurringTaskCompletion_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."RecurringTaskCompletion_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RecurringTaskCompletion_id_seq" OWNER TO nieves;

--
-- Name: RecurringTaskCompletion_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."RecurringTaskCompletion_id_seq" OWNED BY public."RecurringTaskCompletion".id;


--
-- Name: Schedule; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Schedule" (
    id integer NOT NULL,
    "taskName" text NOT NULL,
    "taskType" public."TaskType" NOT NULL,
    "taskCategory" public."TaskCategory" NOT NULL,
    descript text NOT NULL,
    "staffId" text,
    "staffType" public."UserRole",
    status public."EventStatus" DEFAULT 'ASSIGNED'::public."EventStatus" NOT NULL
);


ALTER TABLE public."Schedule" OWNER TO nieves;

--
-- Name: Schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Schedule_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Schedule_id_seq" OWNER TO nieves;

--
-- Name: Schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Schedule_id_seq" OWNED BY public."Schedule".id;


--
-- Name: Sparring; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Sparring" (
    id integer NOT NULL,
    "gamefowl_1_Id" integer NOT NULL,
    "gamefowl_2_Id" integer NOT NULL,
    "winnerId" integer NOT NULL,
    "loserId" integer NOT NULL,
    winner_elo_change integer NOT NULL,
    loser_elo_change integer NOT NULL,
    "sparringDate" timestamp(3) without time zone NOT NULL,
    notes text NOT NULL
);


ALTER TABLE public."Sparring" OWNER TO nieves;

--
-- Name: Sparring_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Sparring_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Sparring_id_seq" OWNER TO nieves;

--
-- Name: Sparring_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Sparring_id_seq" OWNED BY public."Sparring".id;


--
-- Name: Vaccine; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Vaccine" (
    id integer NOT NULL,
    "gamefowlId" integer NOT NULL,
    "vaccinationDate" timestamp(3) without time zone NOT NULL,
    notes text NOT NULL,
    name text,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Vaccine" OWNER TO nieves;

--
-- Name: Vaccine_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Vaccine_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Vaccine_id_seq" OWNER TO nieves;

--
-- Name: Vaccine_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Vaccine_id_seq" OWNED BY public."Vaccine".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO nieves;

--
-- Name: Batch id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Batch" ALTER COLUMN id SET DEFAULT nextval('public."Batch_id_seq"'::regclass);


--
-- Name: Breeding id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding" ALTER COLUMN id SET DEFAULT nextval('public."Breeding_id_seq"'::regclass);


--
-- Name: Conditioning id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning" ALTER COLUMN id SET DEFAULT nextval('public."Conditioning_id_seq"'::regclass);


--
-- Name: ConditioningActivity id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningActivity" ALTER COLUMN id SET DEFAULT nextval('public."ConditioningActivity_id_seq"'::regclass);


--
-- Name: ConditioningActivitySchedule id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningActivitySchedule" ALTER COLUMN id SET DEFAULT nextval('public."ConditioningActivitySchedule_id_seq"'::regclass);


--
-- Name: ConditioningGamefowl id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningGamefowl" ALTER COLUMN id SET DEFAULT nextval('public."ConditioningGamefowl_id_seq"'::regclass);


--
-- Name: ConditioningProgram id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningProgram" ALTER COLUMN id SET DEFAULT nextval('public."ConditioningProgram_id_seq"'::regclass);


--
-- Name: Deworming id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Deworming" ALTER COLUMN id SET DEFAULT nextval('public."Deworming_id_seq"'::regclass);


--
-- Name: Event id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Event" ALTER COLUMN id SET DEFAULT nextval('public."Event_id_seq"'::regclass);


--
-- Name: EventGamefowl id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventGamefowl" ALTER COLUMN id SET DEFAULT nextval('public."EventGamefowl_id_seq"'::regclass);


--
-- Name: EventResult id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventResult" ALTER COLUMN id SET DEFAULT nextval('public."EventResult_id_seq"'::regclass);


--
-- Name: Gamefowl id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl" ALTER COLUMN id SET DEFAULT nextval('public."Gamefowl_id_seq"'::regclass);


--
-- Name: Incubation id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Incubation" ALTER COLUMN id SET DEFAULT nextval('public."Incubation_id_seq"'::regclass);


--
-- Name: OneTimeSched id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."OneTimeSched" ALTER COLUMN id SET DEFAULT nextval('public."OneTimeSched_id_seq"'::regclass);


--
-- Name: RecurrentSchedules id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurrentSchedules" ALTER COLUMN id SET DEFAULT nextval('public."RecurrentSchedules_id_seq"'::regclass);


--
-- Name: RecurringTaskCompletion id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurringTaskCompletion" ALTER COLUMN id SET DEFAULT nextval('public."RecurringTaskCompletion_id_seq"'::regclass);


--
-- Name: Schedule id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Schedule" ALTER COLUMN id SET DEFAULT nextval('public."Schedule_id_seq"'::regclass);


--
-- Name: Sparring id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring" ALTER COLUMN id SET DEFAULT nextval('public."Sparring_id_seq"'::regclass);


--
-- Name: Vaccine id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Vaccine" ALTER COLUMN id SET DEFAULT nextval('public."Vaccine_id_seq"'::regclass);


--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Admin" (id, username) FROM stdin;
\.


--
-- Data for Name: Batch; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Batch" (id, "hatchRate", "dateHatched", incubate_id) FROM stdin;
\.


--
-- Data for Name: Breeder; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Breeder" (id, username, password, first_name, last_name, email, img, phone, role, status, "createdAt", middle_name, "isArchived") FROM stdin;
\.


--
-- Data for Name: Breeding; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Breeding" (id, "sireId", "damId", notes, status, "endDate", "startDate", "isArchived") FROM stdin;
\.


--
-- Data for Name: Conditioning; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Conditioning" (id, "eventId", "conProgId", "handlerId", "startDate", "endDate", status, notes, "isArchived") FROM stdin;
\.


--
-- Data for Name: ConditioningActivity; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: ConditioningActivitySchedule; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."ConditioningActivitySchedule" (id, "conditioningId", "activityId", date, "createdAt", notes, status, "timeOfDay", "updatedAt") FROM stdin;
\.


--
-- Data for Name: ConditioningGamefowl; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."ConditioningGamefowl" (id, "conditioningId", "gamefowlId") FROM stdin;
\.


--
-- Data for Name: ConditioningProgram; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Deworming; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Deworming" (id, "gamefowlId", "dewormDate", notes, name, "isArchived") FROM stdin;
\.


--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Event" (id, "eventName", "eventType", "ageCategory", "eventDate", description, status, "handlerId", "isArchived") FROM stdin;
5	Derby #1	THREE_COCK_DERBY	ANY	2025-06-22 00:00:00	Alburquerque Derby	ASSIGNED	\N	f
\.


--
-- Data for Name: EventGamefowl; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."EventGamefowl" (id, "eventId", "gamefowlId", "createdAt") FROM stdin;
\.


--
-- Data for Name: EventResult; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."EventResult" (id, "eventId", "gamefowlId", result, notes, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Gamefowl; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Handler; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Handler" (id, username, password, first_name, middle_name, last_name, email, img, phone, role, status, "createdAt", "isArchived") FROM stdin;
user_2xiIme6vl9KdHDjISC8npM4c8ti	dongs	Dongel4103	Jeremie	\N	Dongel	\N	\N	\N	handler	ACTIVE	2025-05-28 06:43:47.622	f
user_2ximJYaqOvPqDIZX5CbB69DN4hl	jontubs	Castrotubal4103	Jon	\N	Tubal	jonctubal@gmail.com	\N	09692196751	handler	ACTIVE	2025-05-28 06:43:31.467	f
\.


--
-- Data for Name: Incubation; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Incubation" (id, "incStart", "incEnd", status, "eggCount", "breedingId", "isArchived") FROM stdin;
\.


--
-- Data for Name: OneTimeSched; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."OneTimeSched" (id, "schedId", "taskName", "taskDate", time_of_day) FROM stdin;
8	6	test	2025-05-28 00:00:00	18:13
\.


--
-- Data for Name: PushSubscription; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."PushSubscription" (id, endpoint, p256dh, auth, "userId", "createdAt", "updatedAt") FROM stdin;
cmb7vdzax00029angc9ygzjb8	https://updates.push.services.mozilla.com/wpush/v2/gAAAAABoNvVG0KH8p2Z8RPuR2UtkNpa895RMzFsW2MQTwcBtMKJEl1Sk9KtaNj1Ric3yl4lfANAkQr2hIK1T2bPSsEkPNYY2kPk_P0w_yW0n7JhWUciZUeH4rvbR-nLTY21leaUxzm3rVkpNAZLxUmT26Ahk-0yVV0gZlklthbEB2y0ak3bjWsY	BLpCGuSWjbaMB1a2lTVZ5ccPRWaAyfItNQHQ0GXxTeEVszUja0-Eelh7XcKXkFMftUxBxAPu4p7h_NBglJ_CpYE	BSgspTyU8VBfHQh20oa1tg	user_2ximJYaqOvPqDIZX5CbB69DN4hl	2025-05-28 11:36:39.417	2025-05-28 11:36:39.417
\.


--
-- Data for Name: RecurrentSchedules; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."RecurrentSchedules" (id, "schedId", "reccurencePattern", time_of_day, "endDate", "startDate", "customInterval", "weekDays", "customDate", "repeatIndefinitely") FROM stdin;
\.


--
-- Data for Name: RecurringTaskCompletion; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."RecurringTaskCompletion" (id, "recurrentId", date, completed, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Schedule; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Schedule" (id, "taskName", "taskType", "taskCategory", descript, "staffId", "staffType", status) FROM stdin;
6	test	ONETIME	FEEDING	test	user_2xiIme6vl9KdHDjISC8npM4c8ti	handler	ASSIGNED
\.


--
-- Data for Name: Sparring; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Vaccine; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Name: Batch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Batch_id_seq"', 1, false);


--
-- Name: Breeding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Breeding_id_seq"', 1, false);


--
-- Name: ConditioningActivitySchedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."ConditioningActivitySchedule_id_seq"', 1, false);


--
-- Name: ConditioningActivity_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."ConditioningActivity_id_seq"', 117, true);


--
-- Name: ConditioningGamefowl_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."ConditioningGamefowl_id_seq"', 1, false);


--
-- Name: ConditioningProgram_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."ConditioningProgram_id_seq"', 7, true);


--
-- Name: Conditioning_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Conditioning_id_seq"', 2, true);


--
-- Name: Deworming_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Deworming_id_seq"', 1, false);


--
-- Name: EventGamefowl_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."EventGamefowl_id_seq"', 1, false);


--
-- Name: EventResult_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."EventResult_id_seq"', 1, false);


--
-- Name: Event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Event_id_seq"', 5, true);


--
-- Name: Gamefowl_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Gamefowl_id_seq"', 35, true);


--
-- Name: Incubation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Incubation_id_seq"', 1, false);


--
-- Name: OneTimeSched_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."OneTimeSched_id_seq"', 8, true);


--
-- Name: RecurrentSchedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."RecurrentSchedules_id_seq"', 1, false);


--
-- Name: RecurringTaskCompletion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."RecurringTaskCompletion_id_seq"', 1, false);


--
-- Name: Schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Schedule_id_seq"', 6, true);


--
-- Name: Sparring_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Sparring_id_seq"', 242, true);


--
-- Name: Vaccine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Vaccine_id_seq"', 591, true);


--
-- Name: Admin Admin_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_pkey" PRIMARY KEY (id);


--
-- Name: Batch Batch_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Batch"
    ADD CONSTRAINT "Batch_pkey" PRIMARY KEY (id);


--
-- Name: Breeder Breeder_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeder"
    ADD CONSTRAINT "Breeder_pkey" PRIMARY KEY (id);


--
-- Name: Breeding Breeding_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding"
    ADD CONSTRAINT "Breeding_pkey" PRIMARY KEY (id);


--
-- Name: ConditioningActivitySchedule ConditioningActivitySchedule_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningActivitySchedule"
    ADD CONSTRAINT "ConditioningActivitySchedule_pkey" PRIMARY KEY (id);


--
-- Name: ConditioningActivity ConditioningActivity_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningActivity"
    ADD CONSTRAINT "ConditioningActivity_pkey" PRIMARY KEY (id);


--
-- Name: ConditioningGamefowl ConditioningGamefowl_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningGamefowl"
    ADD CONSTRAINT "ConditioningGamefowl_pkey" PRIMARY KEY (id);


--
-- Name: ConditioningProgram ConditioningProgram_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningProgram"
    ADD CONSTRAINT "ConditioningProgram_pkey" PRIMARY KEY (id);


--
-- Name: Conditioning Conditioning_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_pkey" PRIMARY KEY (id);


--
-- Name: Deworming Deworming_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Deworming"
    ADD CONSTRAINT "Deworming_pkey" PRIMARY KEY (id);


--
-- Name: EventGamefowl EventGamefowl_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventGamefowl"
    ADD CONSTRAINT "EventGamefowl_pkey" PRIMARY KEY (id);


--
-- Name: EventResult EventResult_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventResult"
    ADD CONSTRAINT "EventResult_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: Gamefowl Gamefowl_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl"
    ADD CONSTRAINT "Gamefowl_pkey" PRIMARY KEY (id);


--
-- Name: Handler Handler_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Handler"
    ADD CONSTRAINT "Handler_pkey" PRIMARY KEY (id);


--
-- Name: Incubation Incubation_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Incubation"
    ADD CONSTRAINT "Incubation_pkey" PRIMARY KEY (id);


--
-- Name: OneTimeSched OneTimeSched_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."OneTimeSched"
    ADD CONSTRAINT "OneTimeSched_pkey" PRIMARY KEY (id);


--
-- Name: PushSubscription PushSubscription_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."PushSubscription"
    ADD CONSTRAINT "PushSubscription_pkey" PRIMARY KEY (id);


--
-- Name: RecurrentSchedules RecurrentSchedules_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurrentSchedules"
    ADD CONSTRAINT "RecurrentSchedules_pkey" PRIMARY KEY (id);


--
-- Name: RecurringTaskCompletion RecurringTaskCompletion_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurringTaskCompletion"
    ADD CONSTRAINT "RecurringTaskCompletion_pkey" PRIMARY KEY (id);


--
-- Name: Schedule Schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Schedule"
    ADD CONSTRAINT "Schedule_pkey" PRIMARY KEY (id);


--
-- Name: Sparring Sparring_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_pkey" PRIMARY KEY (id);


--
-- Name: Vaccine Vaccine_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Vaccine"
    ADD CONSTRAINT "Vaccine_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Admin_username_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Admin_username_key" ON public."Admin" USING btree (username);


--
-- Name: Breeder_email_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Breeder_email_key" ON public."Breeder" USING btree (email);


--
-- Name: Breeder_username_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Breeder_username_key" ON public."Breeder" USING btree (username);


--
-- Name: ConditioningActivitySchedule_activityId_idx; Type: INDEX; Schema: public; Owner: nieves
--

CREATE INDEX "ConditioningActivitySchedule_activityId_idx" ON public."ConditioningActivitySchedule" USING btree ("activityId");


--
-- Name: ConditioningActivitySchedule_conditioningId_idx; Type: INDEX; Schema: public; Owner: nieves
--

CREATE INDEX "ConditioningActivitySchedule_conditioningId_idx" ON public."ConditioningActivitySchedule" USING btree ("conditioningId");


--
-- Name: ConditioningGamefowl_conditioningId_gamefowlId_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "ConditioningGamefowl_conditioningId_gamefowlId_key" ON public."ConditioningGamefowl" USING btree ("conditioningId", "gamefowlId");


--
-- Name: EventGamefowl_eventId_gamefowlId_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "EventGamefowl_eventId_gamefowlId_key" ON public."EventGamefowl" USING btree ("eventId", "gamefowlId");


--
-- Name: EventResult_eventId_gamefowlId_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "EventResult_eventId_gamefowlId_key" ON public."EventResult" USING btree ("eventId", "gamefowlId");


--
-- Name: Handler_email_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Handler_email_key" ON public."Handler" USING btree (email);


--
-- Name: Handler_username_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Handler_username_key" ON public."Handler" USING btree (username);


--
-- Name: PushSubscription_endpoint_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "PushSubscription_endpoint_key" ON public."PushSubscription" USING btree (endpoint);


--
-- Name: PushSubscription_userId_idx; Type: INDEX; Schema: public; Owner: nieves
--

CREATE INDEX "PushSubscription_userId_idx" ON public."PushSubscription" USING btree ("userId");


--
-- Name: PushSubscription_userId_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "PushSubscription_userId_key" ON public."PushSubscription" USING btree ("userId");


--
-- Name: RecurrentSchedules_schedId_idx; Type: INDEX; Schema: public; Owner: nieves
--

CREATE INDEX "RecurrentSchedules_schedId_idx" ON public."RecurrentSchedules" USING btree ("schedId");


--
-- Name: RecurringTaskCompletion_date_idx; Type: INDEX; Schema: public; Owner: nieves
--

CREATE INDEX "RecurringTaskCompletion_date_idx" ON public."RecurringTaskCompletion" USING btree (date);


--
-- Name: RecurringTaskCompletion_recurrentId_date_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "RecurringTaskCompletion_recurrentId_date_key" ON public."RecurringTaskCompletion" USING btree ("recurrentId", date);


--
-- Name: RecurringTaskCompletion_recurrentId_idx; Type: INDEX; Schema: public; Owner: nieves
--

CREATE INDEX "RecurringTaskCompletion_recurrentId_idx" ON public."RecurringTaskCompletion" USING btree ("recurrentId");


--
-- Name: Batch Batch_incubate_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Batch"
    ADD CONSTRAINT "Batch_incubate_id_fkey" FOREIGN KEY (incubate_id) REFERENCES public."Incubation"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Breeding Breeding_damId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding"
    ADD CONSTRAINT "Breeding_damId_fkey" FOREIGN KEY ("damId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Breeding Breeding_sireId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding"
    ADD CONSTRAINT "Breeding_sireId_fkey" FOREIGN KEY ("sireId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ConditioningActivitySchedule ConditioningActivitySchedule_activityId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningActivitySchedule"
    ADD CONSTRAINT "ConditioningActivitySchedule_activityId_fkey" FOREIGN KEY ("activityId") REFERENCES public."ConditioningActivity"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ConditioningActivitySchedule ConditioningActivitySchedule_conditioningId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningActivitySchedule"
    ADD CONSTRAINT "ConditioningActivitySchedule_conditioningId_fkey" FOREIGN KEY ("conditioningId") REFERENCES public."Conditioning"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConditioningActivity ConditioningActivity_programId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningActivity"
    ADD CONSTRAINT "ConditioningActivity_programId_fkey" FOREIGN KEY ("programId") REFERENCES public."ConditioningProgram"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ConditioningGamefowl ConditioningGamefowl_conditioningId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningGamefowl"
    ADD CONSTRAINT "ConditioningGamefowl_conditioningId_fkey" FOREIGN KEY ("conditioningId") REFERENCES public."Conditioning"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ConditioningGamefowl ConditioningGamefowl_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningGamefowl"
    ADD CONSTRAINT "ConditioningGamefowl_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Conditioning Conditioning_conProgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_conProgId_fkey" FOREIGN KEY ("conProgId") REFERENCES public."ConditioningProgram"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Conditioning Conditioning_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Conditioning Conditioning_handlerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_handlerId_fkey" FOREIGN KEY ("handlerId") REFERENCES public."Handler"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Deworming Deworming_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Deworming"
    ADD CONSTRAINT "Deworming_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EventGamefowl EventGamefowl_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventGamefowl"
    ADD CONSTRAINT "EventGamefowl_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EventGamefowl EventGamefowl_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventGamefowl"
    ADD CONSTRAINT "EventGamefowl_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: EventResult EventResult_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventResult"
    ADD CONSTRAINT "EventResult_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: EventResult EventResult_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."EventResult"
    ADD CONSTRAINT "EventResult_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_handlerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_handlerId_fkey" FOREIGN KEY ("handlerId") REFERENCES public."Handler"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Gamefowl Gamefowl_damId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl"
    ADD CONSTRAINT "Gamefowl_damId_fkey" FOREIGN KEY ("damId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Gamefowl Gamefowl_sireId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl"
    ADD CONSTRAINT "Gamefowl_sireId_fkey" FOREIGN KEY ("sireId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Incubation Incubation_breedingId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Incubation"
    ADD CONSTRAINT "Incubation_breedingId_fkey" FOREIGN KEY ("breedingId") REFERENCES public."Breeding"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OneTimeSched OneTimeSched_schedId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."OneTimeSched"
    ADD CONSTRAINT "OneTimeSched_schedId_fkey" FOREIGN KEY ("schedId") REFERENCES public."Schedule"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RecurrentSchedules RecurrentSchedules_schedId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurrentSchedules"
    ADD CONSTRAINT "RecurrentSchedules_schedId_fkey" FOREIGN KEY ("schedId") REFERENCES public."Schedule"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: RecurringTaskCompletion RecurringTaskCompletion_recurrentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurringTaskCompletion"
    ADD CONSTRAINT "RecurringTaskCompletion_recurrentId_fkey" FOREIGN KEY ("recurrentId") REFERENCES public."RecurrentSchedules"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Sparring Sparring_gamefowl_1_Id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_gamefowl_1_Id_fkey" FOREIGN KEY ("gamefowl_1_Id") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sparring Sparring_gamefowl_2_Id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_gamefowl_2_Id_fkey" FOREIGN KEY ("gamefowl_2_Id") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sparring Sparring_loserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_loserId_fkey" FOREIGN KEY ("loserId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sparring Sparring_winnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_winnerId_fkey" FOREIGN KEY ("winnerId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Vaccine Vaccine_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Vaccine"
    ADD CONSTRAINT "Vaccine_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: nieves
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

