--
-- PostgreSQL database dump
--

-- Dumped from database version 17.4 (Debian 17.4-1.pgdg120+2)
-- Dumped by pg_dump version 17.4 (Debian 17.4-1.pgdg120+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: nieves
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO nieves;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: nieves
--

COMMENT ON SCHEMA public IS '';


--
-- Name: AgeCategory; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."AgeCategory" AS ENUM (
    'STAG',
    'BULLSTAG',
    'COCK',
    'ANY'
);


ALTER TYPE public."AgeCategory" OWNER TO nieves;

--
-- Name: BreedingStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."BreedingStatus" AS ENUM (
    'ONGOING',
    'FINISHED'
);


ALTER TYPE public."BreedingStatus" OWNER TO nieves;

--
-- Name: ConditioningStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."ConditioningStatus" AS ENUM (
    'PLANNED',
    'ONGOING',
    'COMPLETED'
);


ALTER TYPE public."ConditioningStatus" OWNER TO nieves;

--
-- Name: EventStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."EventStatus" AS ENUM (
    'PLANNED',
    'ONGOING',
    'FINISHED'
);


ALTER TYPE public."EventStatus" OWNER TO nieves;

--
-- Name: EventType; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."EventType" AS ENUM (
    'THREE_COCK_DERBY',
    'FOUR_COCK_DERBY',
    'FIVE_COCK_DERBY',
    'SOLO'
);


ALTER TYPE public."EventType" OWNER TO nieves;

--
-- Name: GamefowlSex; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."GamefowlSex" AS ENUM (
    'MALE',
    'FEMALE'
);


ALTER TYPE public."GamefowlSex" OWNER TO nieves;

--
-- Name: IncubationStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."IncubationStatus" AS ENUM (
    'ONGOING',
    'FINISHED'
);


ALTER TYPE public."IncubationStatus" OWNER TO nieves;

--
-- Name: RecurrencePattern; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."RecurrencePattern" AS ENUM (
    'DAILY',
    'WEEKLY',
    'MONTHLY'
);


ALTER TYPE public."RecurrencePattern" OWNER TO nieves;

--
-- Name: TaskCategory; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."TaskCategory" AS ENUM (
    'FEEDING',
    'VACCINATION',
    'DEWORMING'
);


ALTER TYPE public."TaskCategory" OWNER TO nieves;

--
-- Name: TaskType; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."TaskType" AS ENUM (
    'RECURRING',
    'ONETIME'
);


ALTER TYPE public."TaskType" OWNER TO nieves;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."UserRole" AS ENUM (
    'OWNER',
    'HANDLER',
    'BREEDER'
);


ALTER TYPE public."UserRole" OWNER TO nieves;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'RESIGNED'
);


ALTER TYPE public."UserStatus" OWNER TO nieves;

--
-- Name: gamefowlAge; Type: TYPE; Schema: public; Owner: nieves
--

CREATE TYPE public."gamefowlAge" AS ENUM (
    'CHICK',
    'STAG',
    'BULLSTAG',
    'COCK',
    'PULLET',
    'HEN'
);


ALTER TYPE public."gamefowlAge" OWNER TO nieves;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Admin; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Admin" (
    id text NOT NULL,
    username text NOT NULL
);


ALTER TABLE public."Admin" OWNER TO nieves;

--
-- Name: Batch; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Batch" (
    id integer NOT NULL,
    incubate_sched_id integer NOT NULL,
    "eggCount" integer NOT NULL,
    "fertilityRate" double precision NOT NULL,
    "hatchRate" double precision NOT NULL,
    "dateHatched" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."Batch" OWNER TO nieves;

--
-- Name: Batch_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Batch_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Batch_id_seq" OWNER TO nieves;

--
-- Name: Batch_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Batch_id_seq" OWNED BY public."Batch".id;


--
-- Name: Breeder; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Breeder" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    first_name text NOT NULL,
    last_name text NOT NULL,
    email text,
    img text,
    phone text,
    role public."UserRole" DEFAULT 'BREEDER'::public."UserRole" NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    middle_name text,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Breeder" OWNER TO nieves;

--
-- Name: Breeding; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Breeding" (
    id integer NOT NULL,
    "sireId" integer NOT NULL,
    "damId" integer NOT NULL,
    notes text NOT NULL,
    status public."BreedingStatus" NOT NULL,
    "endDate" timestamp(3) without time zone,
    "startDate" timestamp(3) without time zone,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Breeding" OWNER TO nieves;

--
-- Name: Breeding_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Breeding_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Breeding_id_seq" OWNER TO nieves;

--
-- Name: Breeding_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Breeding_id_seq" OWNED BY public."Breeding".id;


--
-- Name: Conditioning; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Conditioning" (
    id integer NOT NULL,
    "eventId" integer NOT NULL,
    "conProgId" integer NOT NULL,
    "gamefowlId" integer NOT NULL,
    "handlerId" text NOT NULL,
    "startDate" timestamp(3) without time zone NOT NULL,
    "endDate" timestamp(3) without time zone NOT NULL,
    status public."ConditioningStatus" NOT NULL
);


ALTER TABLE public."Conditioning" OWNER TO nieves;

--
-- Name: ConditioningProgram; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."ConditioningProgram" (
    id integer NOT NULL,
    "programName" text NOT NULL,
    description text NOT NULL
);


ALTER TABLE public."ConditioningProgram" OWNER TO nieves;

--
-- Name: ConditioningProgram_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."ConditioningProgram_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."ConditioningProgram_id_seq" OWNER TO nieves;

--
-- Name: ConditioningProgram_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."ConditioningProgram_id_seq" OWNED BY public."ConditioningProgram".id;


--
-- Name: Conditioning_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Conditioning_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Conditioning_id_seq" OWNER TO nieves;

--
-- Name: Conditioning_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Conditioning_id_seq" OWNED BY public."Conditioning".id;


--
-- Name: Deworming; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Deworming" (
    id integer NOT NULL,
    "gamefowlId" integer NOT NULL,
    "dewormDate" timestamp(3) without time zone NOT NULL,
    notes text NOT NULL,
    name text
);


ALTER TABLE public."Deworming" OWNER TO nieves;

--
-- Name: Deworming_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Deworming_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Deworming_id_seq" OWNER TO nieves;

--
-- Name: Deworming_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Deworming_id_seq" OWNED BY public."Deworming".id;


--
-- Name: Event; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Event" (
    id integer NOT NULL,
    "eventName" text NOT NULL,
    "eventType" public."EventType" NOT NULL,
    "ageCategory" public."AgeCategory" NOT NULL,
    "eventDate" timestamp(3) without time zone NOT NULL,
    description text NOT NULL,
    status public."EventStatus" NOT NULL,
    "handlerId" text
);


ALTER TABLE public."Event" OWNER TO nieves;

--
-- Name: Event_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Event_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Event_id_seq" OWNER TO nieves;

--
-- Name: Event_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Event_id_seq" OWNED BY public."Event".id;


--
-- Name: Gamefowl; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Gamefowl" (
    id integer NOT NULL,
    name text NOT NULL,
    bloodline text NOT NULL,
    date_hatched timestamp(3) without time zone,
    date_sold timestamp(3) without time zone,
    "sireId" integer,
    "damId" integer,
    "batchId" integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    img text,
    age public."gamefowlAge",
    "isArchived" boolean DEFAULT false NOT NULL,
    "eloRating" integer DEFAULT 1000 NOT NULL,
    sex public."GamefowlSex" NOT NULL
);


ALTER TABLE public."Gamefowl" OWNER TO nieves;

--
-- Name: Gamefowl_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Gamefowl_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Gamefowl_id_seq" OWNER TO nieves;

--
-- Name: Gamefowl_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Gamefowl_id_seq" OWNED BY public."Gamefowl".id;


--
-- Name: Handler; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Handler" (
    id text NOT NULL,
    username text NOT NULL,
    password text NOT NULL,
    first_name text NOT NULL,
    middle_name text,
    last_name text NOT NULL,
    email text,
    img text,
    phone text,
    role public."UserRole" NOT NULL,
    status public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isArchived" boolean DEFAULT false NOT NULL
);


ALTER TABLE public."Handler" OWNER TO nieves;

--
-- Name: Incubation; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Incubation" (
    id integer NOT NULL,
    "incStart" timestamp(3) without time zone NOT NULL,
    "incEnd" timestamp(3) without time zone NOT NULL,
    "turningSched" timestamp(3) without time zone NOT NULL,
    status public."IncubationStatus" NOT NULL
);


ALTER TABLE public."Incubation" OWNER TO nieves;

--
-- Name: Incubation_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Incubation_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Incubation_id_seq" OWNER TO nieves;

--
-- Name: Incubation_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Incubation_id_seq" OWNED BY public."Incubation".id;


--
-- Name: OneTimeSched; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."OneTimeSched" (
    id integer NOT NULL,
    "schedId" integer NOT NULL,
    "taskName" text NOT NULL,
    "taskDate" timestamp(3) without time zone NOT NULL,
    time_of_day timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."OneTimeSched" OWNER TO nieves;

--
-- Name: OneTimeSched_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."OneTimeSched_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."OneTimeSched_id_seq" OWNER TO nieves;

--
-- Name: OneTimeSched_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."OneTimeSched_id_seq" OWNED BY public."OneTimeSched".id;


--
-- Name: RecurrentSchedules; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."RecurrentSchedules" (
    id integer NOT NULL,
    "schedId" integer NOT NULL,
    "reccurencePattern" public."RecurrencePattern" NOT NULL,
    "taskDate" timestamp(3) without time zone NOT NULL,
    time_of_day timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."RecurrentSchedules" OWNER TO nieves;

--
-- Name: RecurrentSchedules_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."RecurrentSchedules_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."RecurrentSchedules_id_seq" OWNER TO nieves;

--
-- Name: RecurrentSchedules_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."RecurrentSchedules_id_seq" OWNED BY public."RecurrentSchedules".id;


--
-- Name: Schedule; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Schedule" (
    id integer NOT NULL,
    "taskName" text NOT NULL,
    "taskType" public."TaskType" NOT NULL,
    "taskCategory" public."TaskCategory" NOT NULL,
    descript text NOT NULL,
    "staffId" text,
    "staffType" public."UserRole"
);


ALTER TABLE public."Schedule" OWNER TO nieves;

--
-- Name: Schedule_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Schedule_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Schedule_id_seq" OWNER TO nieves;

--
-- Name: Schedule_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Schedule_id_seq" OWNED BY public."Schedule".id;


--
-- Name: Sparring; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Sparring" (
    id integer NOT NULL,
    "gamefowl_1_Id" integer NOT NULL,
    "gamefowl_2_Id" integer NOT NULL,
    "winnerId" integer NOT NULL,
    "loserId" integer NOT NULL,
    winner_elo_change integer NOT NULL,
    loser_elo_change integer NOT NULL,
    "sparringDate" timestamp(3) without time zone NOT NULL,
    notes text NOT NULL
);


ALTER TABLE public."Sparring" OWNER TO nieves;

--
-- Name: Sparring_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Sparring_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Sparring_id_seq" OWNER TO nieves;

--
-- Name: Sparring_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Sparring_id_seq" OWNED BY public."Sparring".id;


--
-- Name: Vaccine; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public."Vaccine" (
    id integer NOT NULL,
    "gamefowlId" integer NOT NULL,
    "vaccinationDate" timestamp(3) without time zone NOT NULL,
    notes text NOT NULL,
    name text
);


ALTER TABLE public."Vaccine" OWNER TO nieves;

--
-- Name: Vaccine_id_seq; Type: SEQUENCE; Schema: public; Owner: nieves
--

CREATE SEQUENCE public."Vaccine_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public."Vaccine_id_seq" OWNER TO nieves;

--
-- Name: Vaccine_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: nieves
--

ALTER SEQUENCE public."Vaccine_id_seq" OWNED BY public."Vaccine".id;


--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: nieves
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO nieves;

--
-- Name: Batch id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Batch" ALTER COLUMN id SET DEFAULT nextval('public."Batch_id_seq"'::regclass);


--
-- Name: Breeding id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding" ALTER COLUMN id SET DEFAULT nextval('public."Breeding_id_seq"'::regclass);


--
-- Name: Conditioning id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning" ALTER COLUMN id SET DEFAULT nextval('public."Conditioning_id_seq"'::regclass);


--
-- Name: ConditioningProgram id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningProgram" ALTER COLUMN id SET DEFAULT nextval('public."ConditioningProgram_id_seq"'::regclass);


--
-- Name: Deworming id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Deworming" ALTER COLUMN id SET DEFAULT nextval('public."Deworming_id_seq"'::regclass);


--
-- Name: Event id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Event" ALTER COLUMN id SET DEFAULT nextval('public."Event_id_seq"'::regclass);


--
-- Name: Gamefowl id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl" ALTER COLUMN id SET DEFAULT nextval('public."Gamefowl_id_seq"'::regclass);


--
-- Name: Incubation id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Incubation" ALTER COLUMN id SET DEFAULT nextval('public."Incubation_id_seq"'::regclass);


--
-- Name: OneTimeSched id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."OneTimeSched" ALTER COLUMN id SET DEFAULT nextval('public."OneTimeSched_id_seq"'::regclass);


--
-- Name: RecurrentSchedules id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurrentSchedules" ALTER COLUMN id SET DEFAULT nextval('public."RecurrentSchedules_id_seq"'::regclass);


--
-- Name: Schedule id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Schedule" ALTER COLUMN id SET DEFAULT nextval('public."Schedule_id_seq"'::regclass);


--
-- Name: Sparring id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring" ALTER COLUMN id SET DEFAULT nextval('public."Sparring_id_seq"'::regclass);


--
-- Name: Vaccine id; Type: DEFAULT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Vaccine" ALTER COLUMN id SET DEFAULT nextval('public."Vaccine_id_seq"'::regclass);


--
-- Data for Name: Admin; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Admin" (id, username) FROM stdin;
cm9f7d8d400009akgkjc09qjz	admin
\.


--
-- Data for Name: Batch; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Batch" (id, incubate_sched_id, "eggCount", "fertilityRate", "hatchRate", "dateHatched") FROM stdin;
1	1	34	65.25891921057172	67.05039402328434	2025-04-12 13:07:25.317
2	2	31	80.86250824013975	67.5993440174895	2025-04-13 01:15:31.995
\.


--
-- Data for Name: Breeder; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Breeding; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Breeding" (id, "sireId", "damId", notes, status, "endDate", "startDate", "isArchived") FROM stdin;
2	11	12	Amicitia aurum aiunt dolores antiquus.	ONGOING	\N	2025-04-13 15:23:46.855	f
1	2	4	Comprehendo timidus uter exercitationem caterva deprimo quam quaerat deleo statua.	ONGOING	\N	2025-04-11 00:00:00	f
\.


--
-- Data for Name: Conditioning; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Conditioning" (id, "eventId", "conProgId", "gamefowlId", "handlerId", "startDate", "endDate", status) FROM stdin;
1	3	2	11	cm9f7guat00059a34pg8tv1wr	2025-02-17 11:41:53.022	2025-03-17 11:41:53.022	COMPLETED
5	3	2	11	cm9f7guat00059a34pg8tv1wr	2025-03-03 16:09:57.492	2025-03-22 16:09:57.492	ONGOING
2	2	4	13	cm9f7guat00059a34pg8tv1wr	2024-11-16 10:00:36.387	2024-11-24 10:00:36.387	ONGOING
3	2	4	14	cm9f7guah00019a34y0qim4nw	2025-02-01 04:20:30.882	2025-02-18 04:20:30.882	COMPLETED
4	2	5	11	cm9f7guat00049a34kojp8yoj	2024-08-20 19:32:59.18	2024-09-03 19:32:59.18	COMPLETED
\.


--
-- Data for Name: ConditioningProgram; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Deworming; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Event; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Gamefowl; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Handler; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Incubation; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Incubation" (id, "incStart", "incEnd", "turningSched", status) FROM stdin;
1	2024-12-07 01:18:29.729	2025-04-12 21:28:55.258	2025-12-31 18:56:58.943	ONGOING
2	2024-05-18 10:28:38.502	2025-04-12 23:35:14.284	2026-02-03 15:37:26.179	ONGOING
\.


--
-- Data for Name: OneTimeSched; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: RecurrentSchedules; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Schedule; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: Sparring; Type: TABLE DATA; Schema: public; Owner: nieves
--

COPY public."Sparring" (id, "gamefowl_1_Id", "gamefowl_2_Id", "winnerId", "loserId", winner_elo_change, loser_elo_change, "sparringDate", notes) FROM stdin;
3	9	17	9	17	16	-16	2025-04-13 05:38:05.811	lorem ipsum
5	11	18	11	18	16	-16	2025-04-13 06:00:18.205	lorem ipsum\n
6	9	20	9	20	16	-16	2025-04-13 11:25:19.177	lorem ipsum
7	9	6	9	6	14	-14	2025-04-13 11:25:42.565	
8	9	18	18	9	19	-19	2025-04-13 11:26:02.647	
4	20	6	20	6	16	-16	2025-04-13 05:58:07.204	lorem ipsum
\.


--
-- Data for Name: Vaccine; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: nieves
--



--
-- Name: Batch_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Batch_id_seq"', 2, true);


--
-- Name: Breeding_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Breeding_id_seq"', 2, true);


--
-- Name: ConditioningProgram_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."ConditioningProgram_id_seq"', 5, true);


--
-- Name: Conditioning_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Conditioning_id_seq"', 5, true);


--
-- Name: Deworming_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Deworming_id_seq"', 20, true);


--
-- Name: Event_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Event_id_seq"', 3, true);


--
-- Name: Gamefowl_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Gamefowl_id_seq"', 20, true);


--
-- Name: Incubation_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Incubation_id_seq"', 2, true);


--
-- Name: OneTimeSched_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."OneTimeSched_id_seq"', 123, true);


--
-- Name: RecurrentSchedules_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."RecurrentSchedules_id_seq"', 74, true);


--
-- Name: Schedule_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Schedule_id_seq"', 49, true);


--
-- Name: Sparring_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Sparring_id_seq"', 8, true);


--
-- Name: Vaccine_id_seq; Type: SEQUENCE SET; Schema: public; Owner: nieves
--

SELECT pg_catalog.setval('public."Vaccine_id_seq"', 20, true);


--
-- Name: Admin Admin_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Admin"
    ADD CONSTRAINT "Admin_pkey" PRIMARY KEY (id);


--
-- Name: Batch Batch_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Batch"
    ADD CONSTRAINT "Batch_pkey" PRIMARY KEY (id);


--
-- Name: Breeder Breeder_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeder"
    ADD CONSTRAINT "Breeder_pkey" PRIMARY KEY (id);


--
-- Name: Breeding Breeding_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding"
    ADD CONSTRAINT "Breeding_pkey" PRIMARY KEY (id);


--
-- Name: ConditioningProgram ConditioningProgram_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."ConditioningProgram"
    ADD CONSTRAINT "ConditioningProgram_pkey" PRIMARY KEY (id);


--
-- Name: Conditioning Conditioning_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_pkey" PRIMARY KEY (id);


--
-- Name: Deworming Deworming_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Deworming"
    ADD CONSTRAINT "Deworming_pkey" PRIMARY KEY (id);


--
-- Name: Event Event_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_pkey" PRIMARY KEY (id);


--
-- Name: Gamefowl Gamefowl_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl"
    ADD CONSTRAINT "Gamefowl_pkey" PRIMARY KEY (id);


--
-- Name: Handler Handler_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Handler"
    ADD CONSTRAINT "Handler_pkey" PRIMARY KEY (id);


--
-- Name: Incubation Incubation_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Incubation"
    ADD CONSTRAINT "Incubation_pkey" PRIMARY KEY (id);


--
-- Name: OneTimeSched OneTimeSched_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."OneTimeSched"
    ADD CONSTRAINT "OneTimeSched_pkey" PRIMARY KEY (id);


--
-- Name: RecurrentSchedules RecurrentSchedules_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurrentSchedules"
    ADD CONSTRAINT "RecurrentSchedules_pkey" PRIMARY KEY (id);


--
-- Name: Schedule Schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Schedule"
    ADD CONSTRAINT "Schedule_pkey" PRIMARY KEY (id);


--
-- Name: Sparring Sparring_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_pkey" PRIMARY KEY (id);


--
-- Name: Vaccine Vaccine_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Vaccine"
    ADD CONSTRAINT "Vaccine_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: Admin_username_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Admin_username_key" ON public."Admin" USING btree (username);


--
-- Name: Breeder_email_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Breeder_email_key" ON public."Breeder" USING btree (email);


--
-- Name: Breeder_username_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Breeder_username_key" ON public."Breeder" USING btree (username);


--
-- Name: Handler_email_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Handler_email_key" ON public."Handler" USING btree (email);


--
-- Name: Handler_username_key; Type: INDEX; Schema: public; Owner: nieves
--

CREATE UNIQUE INDEX "Handler_username_key" ON public."Handler" USING btree (username);


--
-- Name: Batch Batch_incubate_sched_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Batch"
    ADD CONSTRAINT "Batch_incubate_sched_id_fkey" FOREIGN KEY (incubate_sched_id) REFERENCES public."Incubation"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Breeding Breeding_damId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding"
    ADD CONSTRAINT "Breeding_damId_fkey" FOREIGN KEY ("damId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Breeding Breeding_sireId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Breeding"
    ADD CONSTRAINT "Breeding_sireId_fkey" FOREIGN KEY ("sireId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Conditioning Conditioning_conProgId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_conProgId_fkey" FOREIGN KEY ("conProgId") REFERENCES public."ConditioningProgram"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Conditioning Conditioning_eventId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_eventId_fkey" FOREIGN KEY ("eventId") REFERENCES public."Event"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Conditioning Conditioning_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Conditioning Conditioning_handlerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Conditioning"
    ADD CONSTRAINT "Conditioning_handlerId_fkey" FOREIGN KEY ("handlerId") REFERENCES public."Handler"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Deworming Deworming_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Deworming"
    ADD CONSTRAINT "Deworming_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Event Event_handlerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Event"
    ADD CONSTRAINT "Event_handlerId_fkey" FOREIGN KEY ("handlerId") REFERENCES public."Handler"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Gamefowl Gamefowl_damId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl"
    ADD CONSTRAINT "Gamefowl_damId_fkey" FOREIGN KEY ("damId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Gamefowl Gamefowl_sireId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Gamefowl"
    ADD CONSTRAINT "Gamefowl_sireId_fkey" FOREIGN KEY ("sireId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: OneTimeSched OneTimeSched_schedId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."OneTimeSched"
    ADD CONSTRAINT "OneTimeSched_schedId_fkey" FOREIGN KEY ("schedId") REFERENCES public."Schedule"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: RecurrentSchedules RecurrentSchedules_schedId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."RecurrentSchedules"
    ADD CONSTRAINT "RecurrentSchedules_schedId_fkey" FOREIGN KEY ("schedId") REFERENCES public."Schedule"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sparring Sparring_gamefowl_1_Id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_gamefowl_1_Id_fkey" FOREIGN KEY ("gamefowl_1_Id") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sparring Sparring_gamefowl_2_Id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_gamefowl_2_Id_fkey" FOREIGN KEY ("gamefowl_2_Id") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sparring Sparring_loserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_loserId_fkey" FOREIGN KEY ("loserId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Sparring Sparring_winnerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Sparring"
    ADD CONSTRAINT "Sparring_winnerId_fkey" FOREIGN KEY ("winnerId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: Vaccine Vaccine_gamefowlId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: nieves
--

ALTER TABLE ONLY public."Vaccine"
    ADD CONSTRAINT "Vaccine_gamefowlId_fkey" FOREIGN KEY ("gamefowlId") REFERENCES public."Gamefowl"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: nieves
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

